html {
    scroll-behavior:smooth;
}

.footer-link {
    color:white;
}

.footer-link:hover {
    color: grey;
}

.bold-text {
    color: #989c9e !important;
}

.card-image-custom {
    height:200px;
    width:200px;
    overflow:hidden;
}

.card-no-border {
    border: none;
}