html {
    scroll-behavior:smooth;
}

body { /* Fixes problem with hidding page content */
    padding-top: 70px; 
}

.footer-heading-text {
    color: #a8a8a8 !important;
}

.card-image-custom { /* For images in cards */
    height:225px;
    width:225px;
    overflow:hidden;
}

.card-image-custom-large {
    max-height:450px;
    max-width:450px;
    overflow:hidden;
}

.card-no-border {
    border: none; /* In case a card does not need a border */
}

a.anchor {
    display: block;
    position: relative;
    top: -55px; /* offset for the anchor to display the heading correctly */
    visibility: hidden;
}

a.top-anchor {
    display: block;
    position: relative;
    top: -80px; /* Anchor to top needs more offset as the alert is larger */
    visibility: hidden;
}

