AddDefaultCharset UTF-8

AddType image/webp .webp

ExpiresActive on 
ExpiresDefault "access plus 1 hour" 
ExpiresByType text/html "access plus 30 days"
ExpiresByType text/css "access plus 30 days"
ExpiresByType image/png "access plus 1 year"
ExpiresByType image/webp "access plus 1 year"

RewriteEngine On
RewriteCond %{HTTP_HOST} !^www\.sternbauer\.eu [NC]
RewriteRule (.*) http://www.sternbauer.eu/$1 [R=301,L]